body {
    background: #ffd1d1;
}

.vocabulary-title {
    size: 130%;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

.vocabulary {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 120%;
}

.vocabulary-list li {
    margin-bottom: 10px;
}

.vocabulary-controls {
    background-color: rgba(0, 0, 0, 0.2);
}

.vocabulary-empty {
    float: right;
    padding: 5px;
    margin: 5px;
}

.button {
    background-color: white;
    border: none;
    border-top: 3px rgb(248, 119, 119) solid;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.button:hover {
    box-shadow: none;
    cursor: pointer;
}